build
debian/changelog
debian/files
debian/syncqt*
doc/
*.user
.directory
.qmake.cache
.qmake.stash
Makefile
version
include
lib
lib2
mkspecs
bin
qtusb*
libqt5usb*
src/usb/qusbglobal.h
*.pch/debug
*.pch/release
src/usb/.pch/debug/Qt5Usbd_pch.pch
src/usb/.pch/release/Qt5Usb_pch.pch
